# Capstone, Part 1, Week 1

This dataset is provided by [healthdata.gov](https://healthdata.gov/dataset/influenza-laboratory-confirmed-cases-county-beginning-2009-10-season) and originates from [health.ny.gov](https://www.health.ny.gov/diseases/communicable/influenza/surveillance/). Dataset can be found on my github or [here](https://healthdata.gov/dataset/influenza-laboratory-confirmed-cases-county-beginning-2009-10-season). 

This dataset contains:
* Season (Flu season ranging from October through the following May. For example, 2013-2014 means October 2013 - May 2014)
* Region in NY State (Region of lab-confirmed cases. For example, Madison county is in the Central region of NY ![](Madison County Loc.jpg)
* County (County in NY, for example, Madison County pictured above)
* CDC Week (week number in season)
* Week Ending Date
* Disease (Influenza Strain - A or B)
* Count (number of cases)
* County Centroid (map coordinates)
* FIPS (Federal Information Processing Standard - five digit FIPS code that uniquely identifies county and county equivalents in the United States)

In [1]:
import pandas as pd
import numpy as np

flucases = pd.read_csv("flucases.csv")

In [2]:
flucases.head()

,Season,Region,County,CDC Week,Week Ending Date,Disease,Count,County Centroid,FIPS
0,2013-2014,WESTERN,SENECA,10,03/08/2014,INFLUENZA_B,0,"(42.7652, -76.8721)",36099
1,2011-2012,CAPITAL DISTRICT,HAMILTON,41,10/15/2011,INFLUENZA_B,0,"(43.6578786, -74.5024556)",36041
2,2009-2010,CENTRAL,JEFFERSON,48,12/05/2009,INFLUENZA_A,3,"(44.0607, -75.9928)",36045
3,2010-2011,CENTRAL,MADISON,51,12/25/2010,INFLUENZA_A,0,"(42.9100255, -75.6635749)",36053
4,2013-2014,CAPITAL DISTRICT,DELAWARE,19,05/10/2014,INFLUENZA_A,1,"(42.1939865, -74.966728)",36025

In [3]:
flucases.shape

(62286, 9)

In [4]:
# 62286 rows and 9 columns

In [5]:
flucases.describe()

           CDC Week         Count          FIPS
count  62286.000000  62286.000000  62286.000000
mean      25.177825      9.296937  36063.378095
std       18.287463     47.650234     35.593393
min        1.000000      0.000000  36001.000000
25%        9.000000      0.000000  36033.000000
50%       18.000000      0.000000  36065.000000
75%       45.000000      2.000000  36095.000000
max       53.000000   1409.000000  36123.000000

In [6]:
flucases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62286 entries, 0 to 62285
Data columns (total 9 columns):
Season              62286 non-null object
Region              62286 non-null object
County              62286 non-null object
CDC Week            62286 non-null int64
Week Ending Date    62286 non-null object
Disease             62286 non-null object
Count               62286 non-null int64
County Centroid     62286 non-null object
FIPS                62286 non-null int64
dtypes: int64(3), object(6)
memory usage: 4.3+ MB

In [7]:
flucases.isna().sum()

Season              0
Region              0
County              0
CDC Week            0
Week Ending Date    0
Disease             0
Count               0
County Centroid     0
FIPS                0
dtype: int64